#menuBar {
    -fx-background-color: #3498db; /* Azul claro */
    -fx-font-family: "Arial", sans-serif;
}

.menu-button {
    -fx-background-color: #2980b9; /* Azul oscuro */
    -fx-text-fill: #ffffff; /* Texto blanco */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
    -fx-transition: all 0.3s ease;
}

.menu-button:hover {
    -fx-background-color: #1abc9c; /* Verde */
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.menu-button:pressed {
    -fx-background-color: #16a085; /* Verde oscuro */
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}