.menu-bar {
    -fx-background-color: #3F51B5; /* Azul índigo */
}

.menu {
    -fx-text-fill: #FFFFFF; /* Texto blanco */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.menu-item {
    -fx-text-fill: #FFFFFF; /* Texto blanco */
}

.menu-item:hover {
    -fx-background-color: #536DFE; /* Azul más claro al pasar el mouse */
}

.sub-menu {
    -fx-background-color: #3F51B5; /* Color del menú principal */
}

.sub-menu-item {
    -fx-text-fill: #FFFFFF; /* Texto blanco */
}

.sub-menu-item:hover {
    -fx-background-color: #536DFE; /* Azul más claro al pasar el mouse */
}
