.root{
    -fx-background-color:#ffff;
    -fx-font-weight: bold;
}
/* Estilo para la primera columna */
#ancBlue{
    -fx-background-color:rgb(45, 50, 80);
    -fx-alignment: center;
}
#ancBlue .label{
    -fx-text-fill:#fab17a;
    -fx-alignment: center;
    -fx-font-size: 22px;
}
#ancBlue .text-field {
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 14px;
}
#ancBlue .text-area {
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 14px;
}
#Aname{
    -fx-background-color: WHITE;
    -fx-border-color: #f7b176;
    -fx-border-width: 3.5px;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    }
    #EdAname{
        -fx-text-fill: rgb(0, 0, 0);  
        -fx-background-color:#ffffff;
        }
#ancWhite{
    -fx-background-color:#ffffff;
}

.table-view{
    -fx-background-color:none;
    -fx-border: 7px;
    
}

/* Estilo para las celdas de la tabla */
.table-cell {
    -fx-alignment: center; 
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: black;

}
.table-view .column-header {
    -fx-background-color: #2d3250;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: center;
    
}

#columUbi { 
    -fx-background-radius: 40px 0 0 40px;
    
}

#columDetalles{
    -fx-background-radius: 0 40px 40px 0;
}
 #Eubicacion{ 
    -fx-background-radius: 40px 0 0 40px;
    
}

#Edetalles {
    -fx-background-radius: 0 40px 40px 0;
}
#Ccliente{ 
    -fx-background-radius: 40px 0 0 40px;
    
}
 #Cdetalles{
    -fx-background-radius: 0 40px 40px 0;
}
#Cname { 
    -fx-background-radius: 40px 0 0 40px;
    
}

#Cdate{
    -fx-background-radius: 0 40px 40px 0;
}
 #Cuser { 
    -fx-background-radius: 40px 0 0 40px;
    
}

 #Cpas{
    -fx-background-radius: 0 40px 40px 0;
}
 #documentosTableView{ 
    -fx-background-radius: 40px 0 0 40px;
    
}

#tituloColumn{
    -fx-background-radius: 40px 40px 40px 40px;
}

.table-column .label {
-fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 5px;
}
.table-row-cell:odd {
    -fx-background-color:  #bbbbbb;
}
.table-row-cell{
    -fx-background-color:  #faf8f8;
    -fx-background-radius: 50px;
    -fx-border-color: rgba(0, 0, 0, 0.432);
    -fx-border-width: 0.32px;
    -fx-border-radius: 40px;
    -fx-border-style: solid;
}

.table-row-cell:hover {
    -fx-background-color: #e1dfdf;
}
.table-row-cell:selected {
  -fx-background-color: #2d32509a; /* Cambia el color de fondo */
 /* Cambia el color del texto */
}

/* Estilos para el boton normal */
.button {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: #fab17a;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-radius: 40px 40px 40px 40px;
}

/* Estilos para el boton cuando se presiona */
.button:pressed {
    -fx-background-color: #fab17ab1;
    -fx-text-fill: white;
}

/* Estilos para el boton cuando se coloca el cursor sobre el */
.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: #404668;
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-border-color: #fab17a;
    -fx-border-width: 7px;
    -fx-border-radius: 40px;
    -fx-border-style: solid;
}

/* Estilos para el botón cuando está deshabilitado */
.button:disabled {
    -fx-background-color: #cccccc;
    -fx-text-fill: gray;
}
/* Estilos para el TextField */
.text-field {
    -fx-background-color: WHITE;
    -fx-border-color: #f7b176;
    -fx-border-width: 3.5px;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-text-fill: black;
}

/* Estilos para el TextField cuando se enfoca */
.text-field:focused {
    -fx-border-color: #f7b176;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
/* Estilos para el TextArea */
.text-area {
    -fx-background-color: transparent;
    -fx-border-color: #f7b176;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 14px;
}

/* Estilos para el TextArea cuando se enfoca */
.text-area:focused {
    -fx-border-color: #f7b176;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, #f7b176, 2, 0, 0, 0);
}
#titulo{
    -fx-font-size: 30px;

}
.choice-box{
    -fx-background-color: WHITE;
    -fx-border-color: #f7b176;
    -fx-border-width: 2px;
    -fx-border-radius: 25px;
    -fx-padding: 0px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 14px;
    -fx-background-radius: 25px;
    -fx-margin:0;
}
#TFcosto{
    -fx-font-size:16px;
    -fx-border-color: #f7b176;
    -fx-border-width: 3px;
    -fx-border-radius: 25px;
    -fx-effect: dropshadow(gaussian, #f7b176, 2, 0, 0, 0);
    -fx-background-radius: 25px;
    -fx-background-color:  #ffffff;
    -fx-text-fill: black;
}
#LsaldoPendiente{
    -fx-border-color: #f7b176;
    -fx-border-width: 3px;
    -fx-border-radius: 25px;
    -fx-effect: dropshadow(gaussian, #f7b176, 2, 0, 0, 0);
    -fx-background-radius: 25px;
    -fx-background-color:  #ffffff;
    -fx-text-fill: black;
}
#Lcliente{
    -fx-border-color: #f7b176;
    -fx-border-width: 3px;
    -fx-border-radius: 25px;
    -fx-effect: dropshadow(gaussian, #f7b176, 2, 0, 0, 0);
    -fx-background-radius: 25px;
    -fx-background-color:  #ffffff;
    -fx-text-fill: black;
}
.date-picker{
    -fx-border-color: #ffffff;
    -fx-border-width: 3px;
    -fx-border-radius: 25px;
    -fx-effect: dropshadow(gaussian, #f7b176, 2, 0, 0, 0);
    -fx-background-radius: 25px;
    -fx-background-color:  #ffffff;
    -fx-text-fill: black;
}
